div {
	position: absolute;

}

p {
	position: absolute;
	font-family: Helvetica;
	font-size:30px;
}

.description {
	top: 260px;
	left:70px;
}


.box2 {
	top: 35px;
	left: 70px;
	width: 135px;
	height: 135px;
	border: 11px solid black;
	border-radius: 50%;
}

.box18 {
	top: 20px;
	left: 55px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
}

.box1 {
	top: 110px;
	left: 105px;
	width: 11px;
	height: 140px;
	background-color: black;
}

.box3 {
	top: 150px;
	left: 140px;
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: 50%;
}

.box4 {
	top: 230px;
	left: 200px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box5 {
	top: 90px;
	left: 320px;
	width: 11px;
	height: 160px;
	background-color: black;
	transform: rotate(20deg);
}

.box6 {
	top: 150px;
	left: 350px;
	width: 11px;
	height: 60px;
	background-color: black;
	transform: rotate(90deg);
}

.box7 {
	top: 55px;
	left: 355px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box8 {
	top: 95px;
	left: 373px;
	width: 60px;
	height: 60px;
	background-color: black;
	border-radius: 50%;
}

.box9 {
	top: 170px;
	left: 410px;
	width: 80px;
	height: 80px;
	background-color: black;
	border-radius: 50%;
}

.box11 {
	top: 55px;
	left: 560px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box12 {
	top: 140px;
	left: 560px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box13 {
	top: 225px;
	left: 560px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box15 {
	top: 63px;
	left: 655px;
	width: 11px;
	height: 200px;
	background-color: black;
	transform: rotate(138deg);
}

.box17 {
	top: 67px;
	left: 721px;
	width: 11px;
	height: 179px;
	background-color: black;
}

.box19 {
	top: 55px;
	left: 800px;
	width: 175px;
	height: 175px;
	border: 11px solid black;
	border-radius: 50%;
}

.box20 {
	top: 41px;
	left: 855px;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 50%;
}

.box21 {
	top: 150px;
	left: 985px;
	width: 11px;
	height: 100px;
	background-color: black;
	transform: rotate(180deg);
}

.box22 {
	top: 40px;
	left: 1040px;
	width: 90px;
	height: 90px;
	border: 11px solid black;
	border-radius: 50%;
}

.box24 {
	top: 19px;
	left: 1070px;
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
}

.box23 {
	top: 100px;
	left: 1085px;
	width: 135px;
	height: 135px;
	border: 11px solid black;
	border-radius: 50%;
}

.box25 {
	top: 5px;
	left: 140px;
	width: 11px;
	height: 140px;
	background-color: white;
}

.box26 {
	top: 40px;
	left: 100px;
	width: 11px;
	height: 140px;
	background-color: white;
	transform: rotate(90deg);
}

.box27 {
	top: 40px;
	left: 870px;
	width: 40px;
	height: 140px;
	background-color: white;
}

.box28 {
	top: 0px;
	left: 1070px;
	width: 10px;
	height: 100px;
	background-color: white;
}



.box32 {
	top: 40px;
	left: 1315px;
	width: 90px;
	height: 90px;
	border: 11px solid black;
	border-radius: 50%;
}

.box36 {
	top: 0px;
	left: 1405px;
	width: 40px;
	height: 140px;
	background-color: white;
}

.box33 {
	top: 140px;
	left: 1345px;
	width: 90px;
	height: 90px;
	border: 11px solid black;
	border-radius: 50%;
}



.box34 {
	top: 20px;
	left: 1365px;
	width: 40px;
	height: 240px;
	background-color: white;
}

.box35 {
	top: 20px;
	left: 1345px;
	width: 40px;
	height: 240px;
	background-color: white;
}

.box29 {
	top: 40px;
	left: 1375px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box30 {
	top: 135px;
	left: 1375px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}

.box31 {
	top: 235px;
	left: 1375px;
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
}






